.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    color: orangered;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    color: orangered;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    color: orangered;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    color: whitesmoke;
    color-interpolation-filters: auto;
    border-color: orangered;
    -webkit-transform: none;
    transform: none;
    }
    } 

    .bounceInUp {
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes bounceInUp {
        0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
        }
        60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        }
        75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
        }
        90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        }
        100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        }
        @keyframes bounceInUp {
        0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
        }
        60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        }
        75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
        }
        90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
        }
        100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        }
        .threeD {
            color: darkgrey;
            white-space: nowrap;
            position: absolute;
            top: 3%;
            left: 60%;
            transform: translate(-40%, -50%);
            font-size: 20px;
            font-family: calibri;
            letter-spacing: 0.1em;
            transition: 0.3s;
            
          }
          
          .threeD:hover {
            transition: 0.3s;
            transform: scale(1.1)translate(-40%, -50%);
            text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
              1px -4px 0 grey, 1px -5px 0 grey, 1px -5px 0 grey, 1px -5px 0 grey,
              1px -5px 0 grey, 5px -5px 5px black, 5px -5px 5px #808080;
          }
          
        
.overlaypic {
  position: absolute;
  top: 0;
  bottom: 1;
  left:0;
  right: 34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

header {

  height: 100vh;
  margin-bottom: 2rem;
  background-size: cover;
}
.overlaytext{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
p {
  width: 800px;
  margin: 0 auto 1rem;
}
